@import "tailwindcss";

@layer base {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --secondary: #171717;
    --border: #333333;
    --accent: #ededed;
    --accent-hover: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
